.App {
  text-align: center;
}
@font-face {
  font-family: 'Raleway-bold';
  src: url('./raleway/raleway-bold.woff');
}


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'),
       url('./raleway/raleway-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('./raleway/raleway-v13-latin-regular.woff2') format('woff2'),
       url('./raleway/raleway-v13-latin-regular.woff') format('woff'),
       url('./raleway/raleway-v13-latin-regular.ttf') format('truetype'),
       url('./raleway/raleway-v13-latin-regular.svg#Raleway') format('svg');
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.ant-menu-item-active {
  color: #ffff !important;
  border-bottom: 0 !important;
}
 .polygon-collection {
   display: flex;
   justify-content: space-around;
   margin-bottom: 10%;

 }
 .info-container {
   display: flex;
   justify-content: space-around;
   margin-bottom: 50px;
 }
 /* .poly-image {
   width: 50%;
 } */
 .poly-image-active {
   position: absolute;
   left: -600px;
   -webkit-animation: slide-left 1s forwards;
   -webkit-animation-delay: 1.5s;
   animation: slide-left 1s forwards;
   animation-delay: 1.5s;
 }
 .poly-image > h1 {
   color: #616161;
  margin-bottom: 2px;
   font-family: Raleway-bold;
 }
 .social-container {
   display: flex;
   justify-content: center;
   padding-left: 50px;
 }
 a { color: inherit !important; }
 .social-icons {
   font-size: 25px;
   padding-right: 50px;
 }
 .box-stats {
   padding-top: 5%;
    display: flex !important;
    flex-direction: column !important;
 }
  .box-stats-active {
    right: -1100px;
    -webkit-animation: slide-right 1s forwards;
    -webkit-animation-delay: 1s;
    animation: slide-right 1s forwards;
    animation-delay: 1s;
  }
 .stats-container {
   display: flex !important;
   flex-direction: row !important;
    width: 100% !important;
 }
 .stats-title {
   color: white;
  font-weight: 600;
   border-radius: 50px;
   width: 30%;
   background: #04C2C9;
   padding: 2% 5% 2% 3%;
 }
 .ant-progress-outer {
   padding: 2% 5% 3% 3%;
 }
 .ant-progress-inner {
   height: 17px !important;
 }
 .ant-progress-bg {
   background-image: linear-gradient(to right, #04C2C9, #E31B6D);
   height: 17px !important;
 }
  .icon-polygon {
    font-size: 60px;
    padding-top: 10%;
  }

 .polygon1 {
   color: #ffff;
    width: 45%;
   background: #04C2C9;
   height: 10vh;
   margin-bottom: 5px;
   -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
animation: flip 1s;
-webkit-animation: anim 10s infinite linear;
    animation: anim 10s infinite linear;
}
 .poly-image > p {
   margin-bottom: 0 !important;
 }


 .polygon-container {
   display: flex !important;
flex-direction: column !important;
align-items: center !important;

 }
  .poly-text {
    font-family: Raleway-bold;
  }
  .poly-text > h1 {
    color:#616161;
    margin: 0;
  }
  .poly-text > p {
    font-family: Raleway;
    padding: 0% 10% 0 10%;
    margin-bottom: 0;
  }
 .second-container {
   font-family: Raleway;
   padding-top: 2%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

}
.poly-head-container {
      padding: 0 0 0 5%;
      margin-bottom: 0 !important;
}


.third-container {
  background: #1B242F;
  height: 100vh;
}

.form-text {
  margin: 0% 10% 5% 10%;
  padding: 0 1% 0 1%;

  color: #E31B6D;
}

.form-container {
  margin: 0 10% 0 10%;
  padding: 0 20% 0 20%;
}

.header-form-text {
  font-size: 25px;
  font-family: Raleway;
  font-weight: 500;
}

.form-container-active {
  bottom: -1000px;
  -webkit-animation: slide-bottom 1s forwards;
  -webkit-animation-delay: 1s;
  animation: slide-bottom 1s forwards;
  animation-delay: 1s;
}

.ant-input {
  font-size: 18px !important;
      font-family: Raleway !important;
}
#message {
  height: 10vh !important;
}

.ant-btn-primary {
  background: #04C2C9 !important;
  border: 0 !important;
  width: 20% !important;
  font-size: 18px !important;
  font-family: Raleway-bold !important;
  margin-top: 5%;
}

@media screen and (max-height: 710px) {
  .icon-polygon {
    font-size: 50px;
  }
  .poly-image > img {
        height: 35vh;
  }
}
@media screen and (max-width: 770px) {
  .poly-image > img {
    height: 42vh;
  }
  .hero-text-second {
    font-size: 35px !important;
  }
  .icon-polygon {
    padding-top: 24%;
    font-size: 40px;
  }

  .form-container {
    margin: 0 0 0 0;
    padding: 0 5% 0 5%;
  }
  .poly-text > h1 {
    font-size: 15px;
  }
  .poly-text > p {
    font-size: 14px;
  }
  .poly-image > h1 {
    font-size: 14px;
  }
  .poly-image > p {
    font-size: 10px;
  }
  .form-text {
    margin-bottom: 2px;
  }
}
@media screen and (max-width: 670px) {
  .poly-image > img {
    height: 43vh !important;
  }
  .poly-image > h1 {
    font-size: 2em;
  }
  .poly-image > p {
    font-size: 14px;
  }
  .poly-text > h1 {
    font-size: 2em !important;
  }
  .poly-text > p {
    font-size: 14px;
  }
  .stats-container-third {
    padding: 5px;
    height: 100vh;
  }
  .ant-progress-text {
    color: #ffff !important;
  }
  .box-stats {
    margin-top: 5%;
  }
  .stats-container {
    margin-bottom: 5%;
  }
  .poly-image {
    padding: 10% 5% 0 5% !important;
  }
  .ant-menu-horizontal {
    line-height: 40px !important;

  }
  .polygon-container {
    width: 40%;
    padding: 18% 0% 0% 0;
  }
  .poly-image {
    width: 100%;
  }
  .box-stats {
    width: 100%;
  }
  .arrow {
    color:#616161 !important;
  }
  .ant-btn-primary {
    margin-top: 0;
  }
  .form-text {
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5%;
  }
  .header-form-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 428px) {
	.poly-head-container {
    padding-left: 4%;
    padding-top: 8%;
	}
  .polygon-container {
    padding-bottom: 0 !important;
    padding-top: 5% !important;
    padding-left: 0 !important;
  }
  .polygon-container:nth-child(1) {
    margin-right: 50px;
  }
  .polygon-container:nth-child(3) {
    margin-right: 50px;
  }

  .hero-text {
    font-size: 24px !important;
  }
  .hero-text-second {
    font-size: 20px !important;
  }
  .hero-text-third {
    font-size: 15px !important;
  }
  .slant-text {
    margin-top: 50%;
    padding-top: 70%;
  }
  .ant-menu {
    padding-right: 10% !important;
  }

  .poly-image {
    padding: 10% 5% 0 5% !important;
  }
  .ant-btn-primary {
    width: 30% !important;
  }
}
@media screen and (max-width: 400px) {
  .stats-container-third {
    padding-top: 20%;
  }
  .submit-message {
    left: 23%;
  }
  .stats-not-active {
    padding-top: 0 !important;
  }
  .box-stats {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }

  .poly-head-container {
    padding-top: 0;
	}
  .poly-image {
    padding-top: 5% !important;
    padding-left: 0 !important;
  }
  .ant-menu-overflowed-submenu {
    padding-right: 0 !important;
  }
  #sky {
    height: 100vh !important;
  }

	.poly-head-container {
    padding-left: 0;
    margin-top: 10% !important;
    margin-left: 20px !important;
	}
  .polygon-container:nth-child(1) {
    margin-right: 25px !important;
  }
  .polygon-container:nth-child(3) {
    margin-right: 25px !important;
  }
  .polygon-container {
    margin-bottom: 5% !important;
  }

  .hero-text {
    font-size: 19px !important;
  }
  .hero-text-second {
    font-size: 16px !important;
  }
  .hero-text-third {
    font-size: 11px !important;
  }
  .slant-text {
    margin-top: 50%;
    padding-top: 70%;
  }
  .ant-menu {
    padding-left: 10% !important;

    padding-right: 10% !important;
  }
}


@media (min-width: 768px) {
	.second-container {
		width: 750px;
	}

}
@media (min-width: 992px) {
	.second-container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.second-container {
		width: 1170px;
	}
}
@media (min-width: 1350px) {
	.second-container {
		width: 1300px;
	}
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.nav-bar {
  font-family: Raleway-Bold;
    font-size: 15px;
    text-align: right;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
.ant-menu {
  z-index: 99999 !important;
  border-bottom: 2px solid #E31B6D !important;
}
.ant-menu-item {
  margin-right: 3% !important;

}
.ant-menu-item-selected {
  color: #04C2C9 !important;
border-bottom: 2px solid #04C2C9 !important;
}
.slant-text {
 font-weight: 600;
}
.hero-text{

  margin-left: 7%;
  color: #ffff;
  letter-spacing: 0.15em;
  font-family: Raleway-bold;

  font-size: 40px;
  text-align: left;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  }
.hero-text-second{
  margin-left: 15%;

  color: #f5f5f5;
  letter-spacing: 0.15em;
  font-family: Raleway-bold;
  font-size: 40px;
  text-align: left;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;



}
.hero-text-third{
  margin-left: 7%;
  color: #f5f5f5;
  letter-spacing: 0.15em;
  font-family: Raleway-bold;
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
.App-link {
  color: #61dafb;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.polygon-active {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  -webkit-animation-name: flip;
  animation-name: flip;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
  -webkit-animation-delay: 3s;
  animation-delay: 0s;
}
.submit-message {
  animation: hide-submit-message 4s ease-in 0s;
  visibility: hidden ;
   z-index: 100000;
   position: absolute !important;
   left: 25%;
   right: 25%;
}


.ant-modal-close-x {
  display: none !important;
}
.ant-modal-footer {
  display: none !important;
}
.ant-modal-content {
  background: transparent !important;
}
.ant-modal-body {
  display: flex !important;
  justify-content: center !important;
}




@media screen and (max-width: 775px), screen and (max-height: 670px) {
  /* font-size  */
  .icon-polygon {
    font-size: 35px !important;

  }
}



@-webkit-keyframes slide-left {
  100% { left: 0; position: 0;}
}
@keyframes slide-left {
    100% { left: 0; position: 0;}
}

@-webkit-keyframes slide-right {
  100% { right: 0; position: 0;}
}
@keyframes slide-right {
    100% { right: 0; position: 0;}
}
@-webkit-keyframes slide-bottom {
  100% { bottom: 0; position: 0;}
}
@keyframes slide-bottom {
    100% { bottom: 0; position: 0;}
}


@-webkit-keyframes flip {
  from { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  to { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
}

@keyframes flip {
  from { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  to { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
}

@keyframes hide-submit-message {
  0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
 }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
